p.ms-font-s.listheader.ms-fontWeight-semibold(v-if="geo.length > 0" v-text="geo.length +' features nearby:'")

a.ms-Grid-col.ms-u-sm12(v-for="(doc, i) in geo" :href="'/focus/'+doc._id+'/14/'+doc.geometry.coordinates[1]+'/'+doc.geometry.coordinates[0]")
	span.ms-font-l(v-text="doc.properties.label")