html, body {
	height: 100%;
	}

body{
	font-family: Helvetica, Arial;
	background-color: #333;
	}
*:focus {
	outline: none; 
	}

	#map{
		background-color:#333;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		height:100%;
	    z-index: 0;
		}

.map{
	background-color:#333;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height:100%;
    z-index: 0;
	}
searchbox {
	background-color:#111;
	top: 0;
	left: 4em;
	display: inline-block;
	position: absolute;
	width: 22.5em;
	height: 4em;
	margin: 0;
	padding: 0;
	}
	.ui-widget {
		width: 100%;
		display: block;
		bottom: 0;
		position: absolute;
	}
	input {
		position: relative;
		width: 78%;
		display: inline-block;
		float: right;
		right: .2em;
	}
	label {
		position: relative;
		width: 99%;
		left: .5%;
		display: inline-block;
		float: right;
		font-size: .75em;
	}

buttonbox {
	top:0;
	left:0;
	margin:0;
	padding:0;
	height: 2em;
	display: inline-block;
	width: 100%;
	}
btn {
	display: inline-block;
	width: 19%;
	height: 100%;
	font-size: .8em;
	margin: 0;
	padding: 0;
	}
btn a h4 {
	position: relative;
	display: inline-block;
	width: 50%;
	font-size: .7em;
	padding-top: .25em;
	padding-left: .5em;
}

btn a img {
	position: relative;
	display: inline-block;
	width: 20%;
	height: auto;
	float: right;
	top: 1.15em;
	z-index: 999;
	right: .25em;
}
#hous {
	background-color: #E79404;
	display: inline-block;
	float: left;
	width: 100%;
	height: 100%;
	background-color: #E79404;
	text-decoration: none;
	color: #fff;
	}
	#med {
		background-color: #DA1912;
		height: 2em;	
		display: inline-block;
		float: left;
		width: 100%;
		height: 100%;
		text-decoration: none;
		color: #fff;
		}
		#food {
			background-color: #229701;
			height: 2em;	
			display: inline-block;
			float: left;
			width: 100%;
			height: 100%;
			text-decoration: none;
			color: #fff;
			}
			#trav {
				background-color: #3D7AB4;
				height: 2em;	
				display: inline-block;
				float: left;
				width: 100%;
				height: 100%;
				text-decoration: none;
				color: #fff;
				}
				#all {
					background-color: #333;
					height: 2em;	
					display: inline-block;
					float: right;
					width: 100%;
					height: 100%;
					text-decoration: none;
					color: #fff;
					}
			
sidebar {
	background-color:#111;
	top: 5.5em;
	left: 0;
	display: inline-block;
	position: absolute;
	width: 25em;
	padding: 0 0 0 1.5em;
	-moz-box-shadow:    inset 0 0 10px #000000;
	   -webkit-box-shadow: inset 0 0 10px #000000;
	   box-shadow:         inset 0 0 10px #000000;
	
	}
sidebar > h2 {
	display: inline-block;
	width: 50%;
	float: left;
	margin-top: 1.6em;
	}
infobox {
	display: inline-block;
	width: 100%;
	height: auto;
	margin-bottom: .5em;
	}
wrapper {
	display: inline-block;
	float: left;
	margin: 0, auto;
	width: auto;
	}
day {
	display: inline-block;
	float: left;
	margin: 0, auto;
	width: 50px;	
	}
mo, tu, we, thu, fr, sa, su {
	vertical-align: baseline;
	height: 12px;
	}
times {
	display: inline-block;
	float: right;
	margin: 0, auto;
	width: auto;
	}
info {
	display: inline-block;
	float: left;
	margin: 0, auto;
	width: 50%;
	}
contact {
	font-size: .9em;
	}
contact div {
	width: 100%;
	position: absolute;
	z-index: 0;
	}
contact div img {
	position: absolute;
	left: 50%;
	top: 0;
	-webkit-transform: translate(-50%,-50%);
	      -ms-transform: translate(-50%,-50%);
	          transform: translate(-50%,-50%);
	
	}
leftlist {
	display: inline-block;
	width: 50%;
	float: left;
	padding-bottom: .75em;
	height: auto;
	}
rightlist {
	display: inline-block;
	width: 50%;
	float: left;
	padding-bottom: .75em;
	height: auto;
	}
here {
	display: inline-block;
	padding:.5em 0 0 0;
	margin:.5em 0 0 0;
	max-height: 14em;
	overflow-y: scroll;
	}
ul {
	padding: .5em 0 .5em 0;
	margin: 0;
	}
li {
	color: #999;
	font-size: .8em;
	line-height: 1.8em;
	list-style-type: none;
	}
li a {
	text-decoration: none;
	color: #999;
	padding: 0;
	margin: 0;
	}
li a:hover {
	color: #fff;
	}
list {
	display: inline-block;
	padding: 0;
	margin: 0;
	max-height: 14em;
	overflow-y: scroll;
	}		
h1 {
	font-weight: 200;
	color: #fff;
	font-size: 1.3em;
	line-height: 1.1em;
	}
h2 {
	font-weight: 400;
	color: #fff;
	font-size: .9em;
	line-height: .7em;
	margin: 1em 0 0 0;
	}
h3 {
	font-weight: 400;
	color: #999;
	font-size: 1em;
	line-height: .7em;
	}
h4 {
	font-weight: 200;
	color: #fff;
	font-size: .55em;
	text-transform: uppercase;
	letter-spacing: .03em;
	line-height: 1em;
	margin: .8em 0 .8em 0;
	}
h5 {
	font-weight: 200;
	color: #999;
	font-size: .8em;
	line-height: 12px;
	margin: .8em 0 0 0;
	}
	h6 {
		font-weight: 200;
		color: #fff;
		font-size: .55em;
		text-transform: uppercase;
		letter-spacing: .03em;
		line-height: 1em;
		margin: .8em 0 .8em 0;
		}
p {
	color: #999;
	font-size: .8em;
	line-height: 1.8em;
	padding: 0;
	}


/*LEAFLET--------------------------------------------------------------------*/

.leaflet-control-layers-overlays {
	display: none;
	background-color: #333;
}

.leaflet-control-layers {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-color: #333;
	border: none;
	z-index: 999999;
}

.leaflet-control-layers-base {
	background-color: #333;
}
.leaflet-control-attribution, .leaflet-control-layers, .leaflet-control-scale-line {
	background-color: #333;
}
/*----------------------------------------------------------------------------*/

@media screen and (max-width: 500px) {
	
		
	info {
		width: 100%;
	}
	hours {
		width: 100%;
	}
	leftlist {
		width: 100%;
	}
	rightlist {
		width: 100%;
	}
	sidebar {
		width: auto;
		padding: 0 .5em .5em .5em;
		bottom: auto;
		top: 5em;
		height: auto;
		z-index: 999;
		max-height: 60%;
		overflow-y: scroll;
		left: 20%;
		right: 0;
	}
	
	
	searchbox {
		background-color:#111;
		top: 0;
		width: auto;
		left: 20%;
		right: 0;
		height: 4em;
		}
	
	h4 {
		margin: .4em 0 0 0;
	}
	h5 {
		margin: .4em 0 0 0;
	}
	h1 {
		margin-bottom: .8em;
	}
	btn {
		width: 18.5%;
		}
	btn a h4 {
		top: .05em;
	}
	btn a img {
		top: 1.35em;
	}
	input {
		width: 60%
	}
	
	}