* {
    margin: 0;
    padding: 0;
		box-sizing: border-box;
}
html {
	height: 100%;
	left: 0;
	right: 0;
	/* top: 0;
	bottom: 0; */
	margin: 0;
	padding: 0;
	overflow: hidden;
	box-sizing: border-box;
}
body {
	position: absolute;
	margin: 0;
	padding: 0;
	min-height: 100%;
	max-height: 100vh;
	width: 100%;
	/* height: 100vh; */
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	font-family: 'Ubuntu', sans-serif;
	overflow: hidden;
	box-sizing: border-box;
}

.picker {
	pointer-events: auto;
}

body {
	pointer-events: none;
}
p, #mainpanel > a.tb-11-m0 {
	padding-top: 3px;
	padding-bottom: 8px;
}
.row {
	width: 100%;
	height: auto;
	overflow-y: hidden;
	overflow-x: hidden;
	padding-bottom: 10px;
}

*[class^='tb-1'], *[class^='tb-0'], *[class^='tb-2'], *[class^='tb-3'], *[class^='tb-4'], *[class^='tb-5'], *[class^='tb-6'], *[class^='tb-7'], *[class^='tb-8'], 
*[class^='tb-9'], *[class^='tb-10'] {
	padding-right: 10px;
  display: block;
	/* display: inline-block; */
	/* margin: 0 auto; */
	width: auto;
	height: auto;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: top;
} 

*[class^='tb-10-'] {
	width: 100%;
}
*[class^='tb-9-'] {
	width: 90%;
}
*[class^='tb-8-'] {
	width: 80%;
}
*[class^='tb-7-'] {
	width: 70%;
}
*[class^='tb-6-'] {
	width: 60%;
}
*[class^='tb-5-'] {
	width: 50%;
}
*[class^='tb-4-'] {
	width: 40%;
}
*[class^='tb-3-'] {
	width: 30%;
}
*[class^='tb-2-'] {
	width: 20%;
}
*[class^='tb-1-'] {
	width: 10%;
}

.tb-11-m0 {
	width: 100%;
	margin-right: 0;
	padding-right: 0!important;
}

.tb-10-m0 {
	width: 100%;
}
.tb-9-m0 {
	width: 90%;
}
.tb-8-m0 {
	width: 80%;
}
.tb-7-m0 {
	width: 70%;
}
.tb-6-m0 {
	width: 60%;
}
.tb-5-m0 {
	width: 50%;
}
.tb-4-m0 {
	width: 40%;
}
.tb-3-m0 {
	width: 30%;
}
.tb-2-m0 {
	width: 20%;
}
.tb-1-m0 {
	width: 10%;
}


a {
	pointer-events: auto;
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

.spacer {
	margin-top: 30px;
}

hr {
	height: 0; 
	border-top: 1px solid #c8c8c8; 
	border-left: 0; 
	border-right: 0; 
	border-bottom: 0
}

#vue {
	width: 100%;
	height: 100%;
	pointer-events: none;
}
#map {
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -3;
	pointer-events: all;
	height: 100%;
	width: 100%;
}

.block {
	padding: 0;
	border-right: 1px #fff solid;
	text-align: center;
	color:white;
}

.noline {
	padding: 0;
	border-left: 0 #fff solid;
	text-align: center;
	color:white;
}

.tightlead {
	line-height: 0;
	text-align: left;
}

#tl {
	position: fixed;
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	top: 50%;
	pointer-events: none;
	background-color: none;
	background-image: radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0) 20px, rgba(255, 255, 255, 0.5) 19px);
	min-height: 79px;
}

#wrapper {
	top: 50%;
	width: auto;
	min-width: 100%;
	position: fixed;
}

.year {
	position: absolute;
	float: left;
}

.module {
	position: absolute;
	float: left;
	padding: 0;
	min-height: 32px;
	box-sizing: border-box;
	pointer-events: auto;
	background-color: rgba(238, 244, 222, 0.8);
	margin-top: 46px;
	border: 1px #fff solid;
	z-index: 1;
}

.module > span, #tl > span {
	text-align: left;
	line-height: 0.8em;
	float: left;
	text-transform: uppercase;
	letter-spacing: 0.09em;
	padding: 4px 0 0 4px;
	color: #555;
	white-space: nowrap;
	text-shadow: 0 0 2px #fff; 
	-moz-text-shadow: 0 0 2px #fff;
	-webkit-text-shadow: 0 0 2px #fff;
	z-index: 3;
}

#tl > span {
	margin: 20px 10px;
	right: 50%;
	position: absolute;
	z-index: 0;
}

.hover {
	height: 41px; 
	margin-top: 37px;
	background-color: #fff;
}

.ms-ListItem-image {
	pointer-events: auto;
	float: left;
	position: relative;
	width: 70px;
	height: 70px;
	overflow: hidden;
	margin: 0 10px 10px -10px;
}

.ms-ListItem-image > img, .ms-ListItem-image > canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.ms-ListItem-actions, .ms-ListItem-action {
	top: 0;
}

#closepanel {
	position: absolute;
	top: 30px;
	right: 18px;
	bottom: auto;
	left: auto;
	color: #A6A6A6;
	z-index: 9999;
}

#editbutton {
	position: absolute;
	top: 30px;
	right: 42px;
	bottom: auto;
	left: auto;
	color: #A6A6A6;
	z-index: 9999;
}

#append {
	min-height: 49%;
}

#append > img {
	height: auto;
	width: auto;
	max-width: 100%;
}

#menu {
	position: fixed;
	top: 90px;
	right: auto;
	left: 0;
	bottom: auto;
	pointer-events: none;
	/* width: auto; */
	background-color: none;
	z-index: 5;
}

#menu > li {
    padding: 0;
    margin: 0;
	/* width: 100%; */
    height: 100%;
	position: relative;
    list-style-type: none;
	pointer-events: none;
  display: inline;
}
#menu > li > a {	
	display:inline-block;
    height: 22px;
    position: relative;
	pointer-events: auto;
	/* width: 100%; */
}
#menu > li > a > img {	
	height: 40px;
	width: 100%;
	margin: 0;
}
#menu .button {
    width: 54px;
    position: relative;
    padding: 10px 0 0 5px;
	pointer-events: auto;

}

#dropdown {
	overflow: hidden;
	padding: 0;
	margin: 5px 0;
	background-color: rgba(255,255,255,.97);
	z-index: 1;
	width: 180px;
}

.drop {
    
    height: 100%;
	pointer-events: auto;
	padding: 8px;
	width: 100%;
	display: inline-block;
}
.drop:hover {
	background: linear-gradient(to right, #EEF4DE,  #fff);
	background-repeat: no-repeat;
	cursor: pointer;
	pointer-events: auto;
}

#mySearch {

	outline: none;
	border:0px solid #dbdbdb;
	/* left: 36px;
	top: 0;
	bottom: auto; */
	position: absolute;
	/* background: linear-gradient(to right, rgba(255, 255, 255, 0.2),  #EEF4DE);
	background-color: none; */
	pointer-events: auto;
	padding: 13px;
	width: 100%;
	position: relative;
	
}

#mySearch:focus {
	width: 180px;
	font-size: 16px;
}

#dropdown.searchbox {
	width: 180px;
	top: 0;
	max-height: 30vh;
	overflow-y: auto;
}

#avatar, #resume, #media, #media1 {
	padding: 0; 
	background-color: rgba(255, 255, 255, 0);
	box-sizing: content-box;
}

#publish_logo {
	position: fixed;
	bottom: 10px;
	right: 10px;
	top: auto;
	left: auto;
	width: 80px;
}

#publish_logo > img {
	width: 100%;
	height: auto;
	padding-bottom: 8px;
}

.picker__select--year {
	overflow-y: scroll;
}

#arrows {
	pointer-events: none;
	width: 100%;
	position: absolute;
	top: 50%;
	z-index: 4000;	
}

.arrow {
	pointer-events: auto;
	color: #555;
	font-size:35px;
	display:block;
	height: 100%;
	padding: 10px 3px;
}

.arrow:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.left {
	float: left;
}

.right {
	float: right;
}

.arrow > i {
	margin:12px auto;
}

.ms-ListItem-secondaryText  {
	font-size: 13px;
	white-space: normal;
	line-height: 1.1em;
	padding: 5px 55px 5px 0;
}

.ms-ListItem-tertiaryText {
	font-size: 13px;
	color: #999;
}
.container {
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
	overflow-y: hidden;
	clip-path: url(#clipPath);
}

#graph {
  overflow-x: scroll;
}
.container.graph > #graph {
  width: calc(100vw - 50px);
  margin: 0 0 0 auto;
  pointer-events: all;
  background-color: #fff;
  height: calc(50vh - 20px);
  bottom: 0;
  position: absolute;
  top: auto;
  display: inline-block;
  vertical-align: bottom;
  left: 0;
  right: 0;
}
#mainpanel {
	/* height: 50%;
	width: 100%; */
	bottom: 0;
	position: absolute;
	/* float: right; */
	
	/* background-color: rgba(255, 255, 255, 0);
	background-image: radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0) 18px, rgba(255, 255, 255, 1) 17px);	 */
	/* z-index: -2; */
	background-color: var(--background);
	background-color: #fff;
	pointer-events: auto;
	overflow: hidden;
	overflow-y: auto;	
	padding: 20px 40px;
	/* clip-path: url(#clipPath); */

}

.ms-Panel-contentInner {
	background-color: rgba(255, 255, 255, 0);
	pointer-events: auto;
}

.listheader {
	position: fixed;
	top: 50%;
	/* background-color: rgba(255, 255, 255, 0);
	background-image: radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0) 18px, var(--background) 17px);	
	background-image: radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0) 18px, rgba(255, 255, 255, 1) 17px);	 */
	background-color: var(--background);
	background-color: #fff;
	padding-bottom: 20px;
	
}

#mainpanel a {
	margin: 0 0 5px 0!important;
}
#mainpanel a:last-child {
	margin: 0 0 23px 0!important;
}

.ms-Overlay.ms-Overlay--dark {
	background-color: rgba(0, 0, 0, 0);
}

.js-togglePanel {
	background-color: rgba(0, 0, 0, 0);
	background-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0) 20px, rgba(0, 0, 0, .2) 19px);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -2;	
}

.js-togglePanel {
	background-color: rgba(0, 0, 0, 0);
	background-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0) 20px, rgba(0, 0, 0, .2) 19px);
	z-index: -1;	
}

.stickytop {
	position: -webkit-sticky;
  position: sticky;
	top: 0;
}

#sidepanel {
	height: auto;
	/* max-height: 51%; */
	top: 0;
	bottom: 0;
	overflow-y: scroll;
}

#mainpanel > .ms-Panel-contentInner {
	overflow-y: hidden;
	position: absolute;
}

.ms-ChoiceField-field > span {
	margin-left: 25px;
}

a.username:hover > .ms-font-l {
	color: #BAD80A;
}

.picker__select--month, .picker__select--year {
	height: 4em;
}
.ms-Panel-main {
	border-left: 0px solid #000;
	border-right: 0px solid #000;
}
.all {
	background-color: #444;
}
.h {
	background-color: #E79404;
}
.m {
	background-color: #DA1912;
}
.f {
	background-color: #229701;
}
.b {
	background-color: #3D7AB4;
}
.buttonbox {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 180px;
	top: auto;
}
.buttonbox .ms-Grid-col {
	margin: 0 0 0 0;
}
.btn {
  width: 42px;
  vertical-align: top;
}
#select, #geolocate {
	height: auto;
	min-width: auto;
	width: 100%;
	padding: 8px 2px 2px 2px;
	border: 0px solid #000;
	border-right: 0px solid #000;
}
#select p, #geolocate p {
	display: none;
}
#select img, #geolocate img {
	width: 25px;
	height: 25px;
	margin: 0px auto;
	display: inline-block;
	position: relative;
}
#geolocate {
	background-color: #ccc;
}
.buttonlabel {
	min-width: 25px;
	margin: 2px auto;
}

.existing, .compare {
	width: 50%;
	display: inline-block;
	float: left;
	margin: 0 auto;
	list-style-type: none;
}
.contentSchema {
	list-style-type: none;
}
.existing ul, .existing li, .compare ul, .compare li {
	margin: auto 0;
	padding: 10px 0 10px 0;
}
.contentSchema ul {
	background-color: #ccc;
}
.compare #keylist {
	position: absolute;
	background: #e9e9e9;
}
.selectKey {
	float: right;
}

@media (orientation: landscape) {
  .buttonbox > .row > div {
    display: inline-block;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
.tb-10-m1 {
	width: 100%;
}
.tb-9-m1 {
	width: 90%;
}
.tb-8-m1 {
	width: 80%;
}
.tb-7-m1 {
	width: 70%;
}
.tb-6-m1 {
	width: 60%;
}
.tb-5-m1 {
	width: 50%;
}
.tb-4-m1 {
	width: 40%;
}
.tb-3-m1 {
	width: 30%;
}
.tb-2-m1 {
	width: 20%;
}
.tb-1-m1 {
	width: 10%;
}

#select p, #geolocate p {
	display: block;
}
.list.leaflet-control {
	top: 50%;
	left: 50%;
}
.list > .ms-Panel-main {
	background-image: radial-gradient(circle at 0 0, rgba(255, 255, 255, 0) 18px, rgba(255, 255, 255, 1) 17px);	
}

#closepanel, #editbutton {
	top: 20px;
}
#sidepanel {
	min-height: 100%;
}
.ms-Panel--small, .ms-Panel--medium {
	top: 0;
	background-color: none;
	background-image: none
}
.ms-Panel--small > #mainpanel {
	position: absolute;
	background-color: #fff;
}
.ms-Panel--medium .ms-Panel-main {
	width: 33%;
}

}

@media (min-width: 1024px) and (orientation: landscape) {
	.tb-10-m2 {
	width: 100%;
	}
	.tb-9-m2 {
		width: 90%;
	}
	.tb-8-m2 {
		width: 80%;
	}
	.tb-7-m2 {
		width: 70%;
	}
	.tb-6-m2 {
		width: 60%;
	}
	.tb-5-m2 {
		width: 50%;
	}
	.tb-4-m2 {
		width: 40%;
	}
	.tb-3-m2 {
		width: 30%;
	}
	.tb-2-m2 {
		width: 20%;
	}
	.tb-1-m2 {
		width: 10%;
	}
	.ms-Panel--medium  .ms-Panel-main {
		width: 33%!important;
	}
}
